{% extends "layout.html.twig" %}

{% block infiniteScroll %}true{% endblock %}

{% block title %}{{ selectedCategory is defined ? 'Find trustworthy ' ~ selectedCategory.name : 'Find trustworthy websites' }}{% endblock %}
