<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title '' %} - {{ projectName }}</title>
        <meta name="description" content="{% block meta_description 'Crowd-sourced ratings of news websites for general trustworthiness, legitimacy and overall reliability.' %}">
        <meta name="keywords" content="{% block meta_keywords 'Websites, ratings, trustworthiness, fake-news, reliable, media, crowd-sourced' %}">
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        <script type="text/javascript" async src="{{ asset('build/js/app-min.js') ~ '?' ~ staticJsCounter }}"></script>
        <link href="{{ asset('build/css/app.min.css') ~ '?' ~ staticCssCounter }}" rel="stylesheet" type="text/css" />
    </head>
    <body data-project="{{ projectName }}" data-title="{{ block('title') }}" data-is-infinite-scrolling="{% block infiniteScroll 'false' %}">
        <div class="overlay"></div>
        <nav class="navbar navbar-light navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="navbar-nav">
                    <li class="nav-item" style="margin-right: 10px;">
                        <a href="javascript:;" class="theme-switch"><i class="fa fa-moon-o text-dark"></i></a>
                    </li>
                    <li class="nav-item">
                        <select id="region-select">
                            <option value="0">Show all regions</option>
                            {% for geo in geos %}
                                <option value="{{ geo.id }}">{{ geo.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li class="nav-item pull-right">
                    </li>
                </ul>
            </div>
            <form class="form-inline pull-right">
                <a href="javascript:;" class="rounded" id="addwebsite" data-toggle="modal" data-target="#newform"><span>Add a website</span></a>
            </form>
        </nav>
        <div class="container">
            <h1 id="heading" class="text-center display-3">
                {#<img src="{{ asset('images/logo.png') }}" alt="logo" style="max-height: 48px;" />#}
                <a href="{{ path('homepage') }}" class="nostyle"><span>T</span>rust<span>L</span>ist.co</a>
            </h1>
            <div class="text-center text-light" data-light="text-dark" data-dark="text-light">Crowd-sourcing our way to legit news</div>

            {% block search %}
            <nav id="categoryselect" class="nav nav-pills nav-justified">
                <a class="nav-item nav-link {% if selectedCategoryId is not defined %}active{% endif %}" data-id="0" href="javascript:;" data-slug="{{ path('homepage') }}" data-title="Find trustworthy websites - {{ projectName }}">All</a>
                {% for category in categoriesInUse %}
                    <a class="nav-item nav-link {% if selectedCategoryId is defined and category.id == selectedCategoryId %}active{% endif %}" data-id="{{ category.id }}" id="category-menu-item-{{ category.id }}" data-title="{{ category.name | lower }}" data-slug="{{ path('category', {slug: category.slug}) }}" href="javascript:;">{{ category.name }}</a>
                {% endfor %}
            </nav>

            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-8">
                    <input class="form-control form-control-lg" id="search" autocomplete="off" type="text" placeholder="Search for a website">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4">
                    <select id="sort" class="form-control form-control-lg">
                        <option value="0" selected>Default</option>
                        <option value="2" class="rating">📈 Highest quality content</option>
                        <option value="1" class="rating">📉 Lowest quality content</option>
                        <option value="4" class="trust">🤓 Most trustworthy</option>
                        <option value="3" class="trust">🙄 Least trustworthy</option>
                        <option value="5" class="clickbait">🤔 Least clickbait-y</option>
                        <option value="6" class="clickbait">👿 Most clickbait-y</option>
                    </select>
                </div>
            </div>
            {% endblock %}

            {% block content %}
                <div id="websites" data-query="{{ (query is defined ? query : {categoryId: (selectedCategoryId is defined ? selectedCategoryId : 0)}) | json_encode }}" data-endpoint="{{ path('search') }}">
                    {% include 'partial/websites.html.twig' with {'websites': websites, 'page': 0, categoryId: (selectedCategoryId is defined ? selectedCategory : 0)} %}
                </div>
            {% endblock %}
        </div>

        <div id="subscribe-bar">
            <a href="javascript:void(0);" class="hidebar pull-right" style="margin-right: 10px;"><i class="fa fa-2x fa-close" style="color: #fff"></i></a>
	        <form id="subscribe-form" action="{{ path('subscribe') }}" class="text-center">
		        Get a
		        <select id="subscribe-frequency">
			        <option value="0">Daily</option>
			        <option value="1">Weekly</option>
		        </select>
		        email of most trustworthy
		        <select id="subscribe-type">
			        <option value="0">Websites</option>
			        {% for category in categories %}
			            <option value="{{ category.id }}">{{ category.name }}</option>
			        {% endfor %}
		        </select>
		        <input type="text" id="subscribe-name" placeholder="Name" />
		        <input type="email" id="subscribe-email" placeholder="Email" />
		        <input type="submit" value="Subscribe" class="btn btn-outline-white" />
	        </form>
        </div>

        <div id="subscribe-icon">
            <a href="javascript:;">
                <i class="fa fa-at"></i>
            </a>
        </div>

        <div id="feedback" class="closed">
            <a href="javascript:;">Have feedback?</a>
            <div class="form">
                <div class="fb-text">
                    See a bug or want a feature? I am human so please be nice and I will try to fix/add it!
                </div>
                <input type="text" id="fb-name" placeholder="Name" />
                <input type="email" id="fb-email" placeholder="Email" />
                <textarea id="fb-text" style="height: 100px" placeholder="Write your message"></textarea>
                <button type="submit" id="fb-post" data-url="{{ path('feedback') }}">Send feedback</button>
            </div>
        </div>

        <div class="modal fade" id="newform" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add a new website</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="javascript:;">
                            <div id="add-response"></div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="https-addon">http(s)://</span>
                                </div>

                                <input type="text" id="add-domain" class="form-control" placeholder="Website domain">
                            </div>

                            <div class="form-group row">
                                <label for="add-category" class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-10">
                                    <select id="add-category" class="form-control" style="background: transparent; border-color: #17a2b8; color: #17a2b8;">
                                        <option value="">- Choose a category -</option>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}" data-value="{{ category.name | lower }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">Category is mandatory.</div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="add-geo" class="col-sm-2 col-form-label">
                                    Region
                                </label>
                                <div class="col-sm-9">
                                    <select id="add-country" class="form-control" style="background: transparent; border-color: #17a2b8; color: #17a2b8;">
                                        <option value="">- Choose a country / region -</option>
                                        {% for geo in geos %}
                                            <option value="{{ geo.id }}">{{ geo.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-1" style="vertical-align: center">
                                    <i class="fa fa-info-circle" data-toggle="tooltip" title="Country / Region which is the main audience of the website."></i>
                                </div>
                            </div>

                            <textarea id="add-description" placeholder="Description (optional)..." class="form-control" rows="4"></textarea>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="submit-website" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="page-loading"><i class="fa fa-circle-o-notch fa-spin"></i></div>

        <script async src="https://cdn.simpleanalytics.io/hello.js"></script>
        <noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript>
    </body>
</html>
