{% extends 'layout.html.twig' %}

{% block title %}{{ website.name ?? website.domain }} statistics{% endblock %}

{% block meta_description %}{% spaceless %}
	{% if website.meta_description %}
		{{ website.meta_description }}
	{% else %}
		Crowd-sourced data about {{ website.domain }} trustworthiness.
		Check how legit and reliable {{ website.domain }} is and if it's worth your time.
	{% endif %}
{% endspaceless %}{% endblock %}

{% block meta_keywords %}{% spaceless %}
	{% if website.meta_keywords %}
		{{ website.meta_keywords }}
	{% else %}
		{{ website.domain }}, statistics, user, rating, legit, trustworthy, crowd-sourced
	{% endif %}
{% endspaceless %}{% endblock %}

{% block search %}
	<a href="{{ path('homepage') }}" class="btn" data-dark="btn-dark" data-light="btn-info">
		<i class="fa fa-arrow-circle-left"></i> Back to websites
	</a>
{% endblock %}

{% block content %}
	<article class="website-info">
		{% include 'partial/website.html.twig' with {website: website, ratings: ratings, isAjax: false, voters: voters} %}
	</article>
{% endblock %}