<div
	id="comment-{{ comment.id }}"
	class="comment"
	data-id="{{ comment.id }}"
	data-uniqid="{{ comment.uniqid }}"
	data-parent-id="{{ comment.parent_id }}"
	data-parent-unique-id="{{ comment.parent_unique_id }}"
	data-children="{{ comment.children }}"
>
	<div class="info">
		{{ comment.date_added }}
		(<img src="/images/blank.gif" class="flag flag-{{ comment.country_code }}" alt="{{ comment.country_code }}" title="{{ comment.country_code }}" />{{ comment.region }})
		<span class="badge uniqid">#{{ comment.uniqid }}</span>
		<span class="answers d-none d-sm-inline-block pull-right"></span>
		<span class="answerto d-none d-sm-inline-block pull-right"></span>
	</div>

	<div class="content">
		{{ comment.comment }}
	</div>

	<a href="#reply-to-{{ comment.id }}" class="comment-reply" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="reply-to-{{ comment.id }}">
		Reply
	</a>

	<form class="new-comment-form collapse" id="reply-to-{{ comment.id }}" data-parent-id="{{ comment.id }}" action="{{ comment.postUrl }}">
		<div class="row no-gutters">
			<div class="col-10">
				<textarea class="new-comment form-control textarea-theme" style="height: 40px; max-width: 100%;" placeholder="Reply"></textarea>
			</div>
			<div class="col-2">
				<button type="submit" class="submit-comment btn btn-theme" style="max-width: 100%; width: 100%; border-radius: 0;">
					Reply
				</button>
			</div>
		</div>
	</form>
</div>