<div class="details" data-domain="{{ website.domain }}">
	<div class="title">
		{% if isAjax %}
			<a href="javascript:;" class="close-details text-black-50"><i class="fa fa-times-rectangle fa-2x"></i></a>
		{% endif %}
		<header>
			<h1 class="text-center">
				<a href="http://{{ website.domain }}" target="_blank" class="outlink" data-id="{{ website.id }}">
					{{ website.name ?? website.domain }}
				</a>
			</h1>
		</header>
	</div>
	<div class="data">
		{% if website.snapshot %}
		<div class="row no-gutters row-eq-height">
			<div class="col-12 col-sm-9">
		{% endif %}
			{% if website.geo %}
				<section class="description">
					{{ website.name ?? website.domain }} has articles with {{ 'Global' == website.geo ? 'main audience everywhere' : 'global audience in ' ~ website.geo }}
				</section>
			{% endif %}
			{% if website.description %}
				<section class="description">
					{{ website.description | trim | nl2br }}
				</section>
			{% endif %}
		{% if website.snapshot %}
			</div>
			<div class="d-none d-sm-block col-sm-3">
				<img src="{{ website.snapshot }}" alt="{{ website.name ?? website.domain}}" class="img-thumbnail no-border-radius" />
			</div>
		</div>
		{% endif %}
		<nav class="nav nav-pills nav-fill themed">
			<a class="nav-item nav-link no-border-radius active" id="home-btn" data-toggle="tab" href="#comments-tab" role="tab" aria-controls="comments-tab" aria-selected="true">
				<i class="fa fa-comment"></i> <span class="d-none d-sm-inline">Comments (</span>{{ commentsCount }}<span class="d-none d-sm-inline">)</span>
			</a>
			<a class="nav-item nav-link no-border-radius" id="stats-btn" data-toggle="tab" href="#stats-tab" role="tab" aria-controls="stats-tab" aria-selected="false">
				<i class="fa fa-line-chart"></i> <span class="d-none d-sm-inline">Voting Statistics</span>
			</a>
		</nav>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="comments-tab" role="tabpanel" aria-labelledby="home-btn">
				{% if not userHasCommented %}
					<div id="comment-result"></div>
					<div id="add-comment">
						<form class="new-comment-form" action="{{ path('add-comment', {websiteId: website.id}) }}">
							<div class="row no-gutters">
								<div class="col-10">
									<textarea class="new-comment form-control textarea-theme" style="height: 40px; max-width: 100%;" placeholder="Add new comment"></textarea>
								</div>
								<div class="col-2">
									<button type="submit" class="submit-comment btn btn-theme" style="max-width: 100%; width: 100%; border-radius: 0;">Post comment</button>
								</div>
							</div>
						</form>
					</div>
				{% endif %}
				<div id="comments" style="padding: 15px;"
				     data-endpoint="{{ path('comments', {websiteId: website.id, page: commentsCount > 15 ? 1 : 0}) }}"
				     data-firstpage="{{ path('comments', {websiteId: website.id, page: 0}) }}"
				>
					{% for comment in comments %}
						{% include 'partial/comment.html.twig' with {
							comment: comment + {postUrl: path('add-comment', {websiteId: website.id})}
						} %}
					{% else %}
						<div class="alert alert-info">No comments yet</div>
					{% endfor %}
				</div>

				{% if commentsCount > 15 %}
					{# todo: change style of button#}
					<a href="javascript:void(0);" id="more-comments-button" class="btn btn-lg btn-outline-info btn-block no-border-radius text-center" style="border-left: 0; border-right: 0;">
						Load more comments
					</a>
				{% endif %}
			</div>
			<div class="tab-pane fade" id="stats-tab" role="tabpanel" aria-labelledby="stats-btn">
				<div class="datalist">
					<div class="alert margin-10px" data-dark="alert-darkmode-dark" data-light="alert-info">Ratings shown are average for the past 30 days</div>
					<div class="chartbox">
						<div class="row">
							<div class="col-md-1 col-sm-1 col-2">
								<div class="vertical-text auto-adjust-width">
									Rating
								</div>
							</div>
							<div class="col-md-11 col-sm-11 col-10">
								{% if ratings[0] is not defined or not ratings[0] %}
									<div class="no-rating-data">There is no rating data yet</div>
								{% else %}
									<h2 class="text-center">
										{{ website.avg_rating }} / 5 of {{ voters[0] }} votes
									</h2>

									<div class="text-center text-muted">
										<i class="fa fa-question-circle"></i> Higher is better
									</div>

									<canvas class="chart" data-label="Average Rating per day" style="max-height: 250px; max-width: 100%;" data-type="0"></canvas>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="chartbox">
						<div class="row">
							<div class="col-md-1 col-sm-1 col-2">
								<div class="vertical-text auto-adjust-width">
									Trustworthiness
								</div>
							</div>
							<div class="col-md-11 col-sm-11 col-10">
								{% if ratings[1] is not defined or not ratings[1] %}
									<div class="no-rating-data">There is no rating data yet</div>
								{% else %}
									<h2 class="text-center">
										{{ website.avg_trust_rating }} / 5 of {{ voters[1] }} votes
									</h2>

									<div class="text-center text-muted">
										<i class="fa fa-question-circle"></i> Higher is better
									</div>

									<canvas class="chart" data-label="Average Trustworthiness Rating per day" style="max-height: 250px;" data-type="1"></canvas>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="chartbox">
						<div class="row">
							<div class="col-md-1 col-sm-1 col-2">
								<div class="vertical-text auto-adjust-width">
									Clickbait-y
								</div>
							</div>
							<div class="col-md-11 col-sm-11 col-10">
								{% if ratings[2] is not defined or not ratings[2] %}
									<div class="no-rating-data">There is no rating data yet</div>
								{% else %}
									<h2 class="text-center">
										{{ website.avg_clickbait_rating }} / 5 of {{ voters[2] }} votes
									</h2>

									<div class="text-center text-muted">
										<i class="fa fa-question-circle"></i> Lower is better
									</div>

									<canvas class="chart" data-label="Average Clickbait Rating per day" style="max-height: 250px;" data-type="2"></canvas>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	try {
		window.Chart || (function () {var script = document.createElement('script');script.type = 'text/javascript';script.src = '{{ asset('build/js/Chart.bundle.min.js') }}';document.getElementsByTagName('head')[0].appendChild(script)})();
	} catch (e) {}

	var hasReachedLastResultCommentsPage = {{ commentsCount <= 15 ? 'true' : 'false' }};
	var allData = {{ ratings | json_encode | raw }};
	var getData = {
		keys: function (type) {
			var result = [];

			for(var i in allData[type]) {
				result.push(i);
			}

			return result;
		},
		values: function (type) {
			var result = [];

			for(var i in allData[type]) {
				result.push(allData[type][i]);
			}

			return result;
		},
		config: function (type, label) {
			var labels = getData.keys(type),
				data = getData.values(type);

			return {
				type: 'line',
				data: {
					labels: labels,
					datasets: [{
						label: label,
						backgroundColor: 'rgb(255, 99, 132)',
						borderColor: 'rgb(255, 99, 132)',
						data: data,
						fill: false,
					}]
				},
				options: {
					maintainAspectRatio: false,
					responsive: true,
					title: {
						display: false,
					},
					tooltips: {
						mode: 'index',
						intersect: false,
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Day'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Index'
							},
							ticks: {
								stepSize: 1,
								min: 1,
								max: 5
							}
						}]
					}
				}
			}
		}
	};
	try {
		var loader = $('#page-loading');
	} catch (e) {
		var loader = $('#page-loading');
	}

	var loadComments = function (container, appendNew) {
		var loader = $('#page-loading');
		loader.show();

		return $.ajax({
			method: 'GET',
			url: container.data(appendNew ? 'endpoint' : 'firstpage'),
			success: function (data) {
				loader.hide();

				if (data.page == 0 && !data.comments.length) {
					container.html('<div class="alert alert-warning">No comments yet. Be the first one to comment!</div>');
				} else {
					container.html(appendNew
						? container.html() + buildComments(data.template, data.comments)
						: buildComments(data.template, data.comments));
				}
				container.data('endpoint', data.nextPage);

				updateCommentUniqueIds();
				updateCommentMentions();

				hasReachedLastResultCommentsPage = data.comments.length < 15;

				if (hasReachedLastResultCommentsPage) {
					performLastCommentReachedActions();
				}

				if (!hasReachedLastResultCommentsPage && !appendNew) {
					performRefreshCommentsActions();
				}
			},
			error: function (err) {
				loader.hide();
				hasReachedLastResultCommentsPage = false;
				console.error(err);
			},
		});
	};
	var buildComments = function (template, comments) {
		if (!comments) {
			return '';
		}

		loader.show();
		var result = '';

		$.each(comments, function (key, commentObj) {
			var comment = template.replace({{ '/{{ comment.id }}/' }}g, commentObj.id);
			comment = comment.replace({{ '/{{ comment.date_added }}/' }}g, commentObj.date_added);
			comment = comment.replace({{ '/{{ comment.country_code }}/' }}g, (commentObj.country_code || ''));
			comment = comment.replace({{ '/{{ comment.region }}/' }}g, commentObj.region);
			comment = comment.replace({{ '/{{ comment.uniqid }}/' }}g, commentObj.uniqid);
			comment = comment.replace({{ '/{{ comment.children }}/' }}g, commentObj.children);
			comment = comment.replace({{ '/{{ comment.parent_unique_id }}/' }}g, commentObj.parent_unique_id);
			comment = comment.replace({{ '/{{ comment.parent_id }}/' }}g, commentObj.parent_id);
			comment = comment.replace({{ '/{{ comment.postUrl }}/' }}g, commentObj.postUrl);
			comment = comment.replace({{ '/{{ comment.comment }}/' }}g, nl2br(commentObj.comment, false));

			var $comment = $($(comment)[0]);
			result += $comment.outerHTML();
		});

		loader.hide();

		return result;
	};
	var nl2br = function (str, is_xhtml) {
		// http://kevin.vanzonneveld.net
		var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>'; // Adjust comment to avoid issue on phpjs.org display

		return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
	}
	var performLastCommentReachedActions = function () {
		$('<div class="alert margin-10px no-more-comments-alert" data-dark="alert-darkmode-dark" data-light="alert-info">All comments are shown</div>').insertBefore('#more-comments-button');
		$('#more-comments-button').hide();
		themeManager.updateThemeClasses(themeManager.currentThemeIsLight());
	};
	var performRefreshCommentsActions = function () {
		$('#more-comments-button').parent().find('.no-more-comments-alert').remove();
		$('#more-comments-button').show();
		themeManager.updateThemeClasses(themeManager.currentThemeIsLight());
	};
	var stringToColour = function(str) {
		var hash = 0;
		for (var i = 0; i < str.length; i++) {
			hash = str.charCodeAt(i) + ((hash << 5) - hash);
		}
		var colour = '#';
		for (var i = 0; i < 3; i++) {
			var value = (hash >> (i * 8)) & 0xFF;
			colour += ('00' + value.toString(16)).substr(-2);
		}
		return colour;
	}
	var padZero = function (str, len) {
		len = len || 2;
		var zeros = new Array(len).join('0');
		return (zeros + str).slice(-len);
	};
	var invertColour = function (hex, bw) {
		if (hex.indexOf('#') === 0) {
			hex = hex.slice(1);
		}
		// convert 3-digit hex to 6-digits.
		if (hex.length === 3) {
			hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
		}
		if (hex.length !== 6) {
			throw new Error('Invalid HEX color.');
		}
		var r = parseInt(hex.slice(0, 2), 16),
			g = parseInt(hex.slice(2, 4), 16),
			b = parseInt(hex.slice(4, 6), 16);
		if (bw) {
			// http://stackoverflow.com/a/3943023/112731
			return (r * 0.299 + g * 0.587 + b * 0.114) > 186
				? '#000000'
				: '#FFFFFF';
		}
		// invert color components
		r = (255 - r).toString(16);
		g = (255 - g).toString(16);
		b = (255 - b).toString(16);
		// pad each with zeros and return
		return "#" + padZero(r) + padZero(g) + padZero(b);
	}
	var updateCommentUniqueIds = function () {
		$('.comment').each(function () {
			var id = $(this).data('uniqid');
			var background = stringToColour(id);
			var textColor = invertColour(background.substr(1), true);

			$(this).css('border-left-color', background);

			$('> .info > .badge.uniqid', $(this)).css({
				backgroundColor: background,
				color: textColor
			});
		});
	}
	var updateCommentMentions = function () {
		$('.comment').each(function () {

			var css = {
				backgroundColor: $('> .info > .badge.uniqid', $(this)).css('background-color'),
				color: $('> .info > .badge.uniqid', $(this)).css('color')
			};

			if ($(this).data('parent-id')) {
				var parentUniqueId = $(this).data('parent-unique-id');
				var bg = stringToColour(parentUniqueId);
				var textColor = invertColour(bg.substr(1));

				$('.answerto', $(this)).html(
					'Answer to <span class="highlight-pointer badge" style="background: ' + bg + '; color: ' + textColor  + '" data-id="#comment-' + $(this).data('parent-id') + '">#' + $(this).data('parent-unique-id') + '</span>'
				);
			}

			if (!$(this).data('children')) {
				return;
			}

			var thisCommentId = $(this).data('id');
			var thisUniqueId = $(this).data('uniqid');

			var mentions = [];
			var childIds = $(this).data('children') ? $(this).data('children').toString().split(",") : [];

			for (var k in childIds) {
				var id = childIds[k];
				var child = $('#comment-' + id);
				var childUniqId = child.data('uniqid');
				var pointerElement = $('<span></span>');

				pointerElement.addClass('highlight-pointer badge');
				pointerElement.css({
					backgroundColor: $('> .info > .badge.uniqid', child).css('background-color'),
					color: $('> .info > .badge.uniqid', child).css('color')
				});
				pointerElement.text('#' + childUniqId);
				pointerElement.attr('data-id', '#comment-' + id);

				mentions.push(pointerElement.outerHTML());

				$('.answerto', child).html(
					'Answer to <span class="highlight-pointer badge" style="background: ' + css.backgroundColor + '; color: ' + css.color  + '" data-id="#comment-' + thisCommentId + '">#' + thisUniqueId + '</span>'
				);
			}

			$('.answers', $(this)).html('Answers: ' + mentions.join(" "));
		});
	}

	var eventListenerAttach = function (alreadyAttached) {
		if (alreadyAttached) {
			return false;
		}

		$('.new-comment').each(function () {
			$(this).autoResize({
				resizeAlso: $('.submit-comment', $(this).parents('.new-comment-form'))
			});
		});

		$('body').on('mouseover', '.highlight-pointer', function() {
			var id = $(this).data('id');
			$(id).addClass('hovered');
		});

		$('body').on('mouseleave', '.highlight-pointer', function() {
			var id = $(this).data('id');
			$(id).removeClass('hovered');
		});

		$('body').on('click', '.highlight-pointer', function() {
			var targetContainer = $($(this).data('id'));

			if (targetContainer.length) {
				// $(this).parents('.website-details').animate({
				// 	scrollTop: 500
				// }, 200);

				// For fullpage version
				$('html,body').animate({
					scrollTop: targetContainer.offset().top
				}, 200);
			}
		});

		// region Add new comment
		$('body').on('submit', '.new-comment-form', function (e) {
			e.preventDefault();

			var url = $(this).attr('action');
			var comment = $('.new-comment', $(this)).val().trim();
			var parentId = $(this).data('parent-id');

			if (comment.length < 4 || comment.length > 3000) {
				alert('Comment length must be between 4 and 3000 characters');
				return false;
			}

			$.ajax({
				url: url,
				method: 'post',
				data: {comment: comment, parent_id: parentId},
				success: function (data) {
					if (1 != data.code) {
						$('<div class="alert alert-danger">' + data.message + '</div>').appendTo($('#comment-result'));
						return;
					}

					$('#comments').data('endpoint', $('#comments').data('firstpage'));
					loadComments($('#comments'));
					$('#add-comment').slideUp();
					$('<div class="alert alert-success">' + data.message + '</div>').appendTo($('#comment-result'));
				},
				error: function (err) {
					console.log(err);
					alert('An error occurred');
				}
			});

			return false;
		});
		// endregion

		window.previewPageLoaded = true;
	};

	var onLoad = function () {
		eventListenerAttach(window.previewPageLoaded);
		var hasAdjustedWidths = false;

		updateCommentUniqueIds();
		updateCommentMentions();

		// $('.highlight-pointer').each(function () {
		// 	var id = $(this).data('id');
		//
		// 	$(this).hover(function () {
		// 		$(id).addClass('hovered');
		// 	}, function () {
		// 		$(id).removeClass('hovered');
		// 	});
		// });

		var chartsInterval = setInterval(function () {
			if (!window.Chart) {
				return ;
			}

			$('.chart').each(function(k, chart) {
				var ctx = $(chart).get(0).getContext('2d');
				var cfg = getData.config($(chart).data('type'), $(chart).data('label'));
				window.myLine = new Chart(ctx, cfg);
			});

			var adjustWidths = function () {
				if (true === hasAdjustedWidths) {
					return false;
				}

				setTimeout(function () {
					$('.auto-adjust-width').each(function(k, obj) {
						obj = $(obj);
						var height = obj.parents('.row').find('>div:first').height();
						obj.animate({width: height + 'px'}, 150);
						hasAdjustedWidths = !hasAdjustedWidths ? 0 !== height : true;
					});
				}, 120);
			};

			adjustWidths();

			// On changing tabs check if widths have been adjusted since hidden tab content height = 0
			$('a[data-toggle="tab"]').on('shown.bs.tab', function () {
				adjustWidths();
			})

			clearInterval(chartsInterval);
		}, 25);

		// Make each button same height as its textarea
		$('.submit-comment').each(function () {
			$(this).css({
				height: ($('.new-comment', $(this).parents('.new-comment-form')).outerHeight()) + 'px',
				display: 'block',
				whiteSpace: 'normal'
			});
		});

		themeManager.updateThemeClasses($('body').hasClass('light'));

		var commentsLoadedKey = 'comments-loaded';
		$('#more-comments-button').click(function () {
			if (hasReachedLastResultCommentsPage) {
				return;
			}

			loadComments($('#comments'), true);
		});
	}

	if (window.jQuery) {
		$(onLoad);
	} else {
		window.onload = onLoad;
	}
</script>