{% for website in websites %}
    {% include 'partial/website-single.html.twig' with {website: website} %}
{% endfor %}

{% if websites|length == 0 and page == 0 %}
    <div class="alert alert-warning">Sorry, we can't find sites matching your criteria :/</div>
{% endif %}