<div class="card website" data-id="{{ website.id }}" data-domain="{{ website.domain }}">
	<div class="background" data-background="{{ website.snapshot }}"></div>
	<span class="website-icon" style="background: url('https://www.google.com/s2/favicons?domain={{ website.domain }}'); -webkit-background-size: contain; background-size: contain;"></span>
	<div class="card-body">
		<h3 class="card-title text-center">
			<a href="/site/{{ website.domain }}" class="website-title website-details-open">
				{{ website.name }}
			</a>
			<a href="http://{{ website.domain }}" target="_blank" class="outlink pull-right">
				<i class="fa fa-external-link-square" style="font-size: 20px"></i>
			</a>
		</h3>
	</div>
	<ul class="list-group list-group-flush list-group-ratings">
		<li class="list-group-item">
			Content:
			<span class="stars" data-vote-type="rating" data-rating="{{ website.avg_rating }}">
                {% for i in range(1, 5) %}{% if i <= website.avg_rating %}<i class="fa fa-star text-warning"></i>{% else %}<i class="fa fa-star-o"></i>{% endif %}{% endfor %}
            </span>
			<b class="rating-static {{ website.avg_rating == 3 ? '' : (website.avg_rating < 3 ? 'text-danger' : 'text-success') }}">{{ website.avg_rating }} / 5</b>
			<i title="Quality of content. Higher is better" data-toggle="tooltip" class="text-info fa fa-question-circle pull-right"></i>
		</li>
		<li class="list-group-item">
			Trustworthiness:
			<span class="stars" data-vote-type="trust" data-rating="{{ website.avg_trust_rating }}">
                {% for i in range(1, 5) %}{% if i <= website.avg_trust_rating %}<i class="fa fa-check-circle text-warning"></i>{% else %}<i class="fa fa-check-circle-o"></i>{% endif %}{% endfor %}
            </span>
			<b class="rating-static {{ website.avg_trust_rating == 3 ? '' : (website.avg_trust_rating < 3 ? 'text-danger' : 'text-success') }}">{{ website.avg_trust_rating }} / 5</b>
			<i title="Higher is better" data-toggle="tooltip" class="text-info fa fa-question-circle pull-right"></i>
		</li>
		<li class="list-group-item">
			Clickbait-y:
			<span class="stars" data-vote-type="clickbait" data-rating="{{ website.avg_clickbait_rating }}">
                {% for i in range(1, 5) %}{% if i <= website.avg_clickbait_rating %}<i class="fa fa-frown-o on fa-circle text-warning"></i>{% else %}<i class="fa fa-frown-o"></i>{% endif %}{% endfor %}
            </span>
			<b class="rating-static {{ website.avg_clickbait_rating == 3 ? '' : (website.avg_clickbait_rating > 3 ? 'text-danger' : 'text-success') }}">{{ website.avg_clickbait_rating }} / 5</b>
			<i title="Lower is better" data-toggle="tooltip" class="text-info fa fa-question-circle pull-right"></i>
		</li>
	</ul>
	<div class="card-footer text-center" data-trust-index="{{ website.trust_index }}">
		{{ website.trust_message }} ({{ website.trust_index }})
	</div>
</div>